<template>
	<div id='sidebar' class='d-flex justify-content-center position-fixed'>
		<ul id='menu' class='pl-0'>
			<li>
				<router-link to='/'>
					<b-icon icon='alt'/>
					<span>Logo</span>
				</router-link>
			</li>
			<li>
				<router-link to='/'>
					<b-icon icon='house'/>
					<span>My Projects</span>
				</router-link>
			</li>
			<li>
				<router-link to='/project'>
					<b-icon icon='file-plus'/>
					<span>Create Project</span>
				</router-link>
			</li>
			<li>
				<router-link to='/about'>
					<b-icon icon='question-circle'/>
					<span>About</span>
				</router-link>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'Sidebar',
};
</script>

<style>
#sidebar {
	background-color: rgb(14, 73, 184);
	width: 3em;
	height: 100%;
	transition: width 0.5s ease;
	z-index: 2;
}

#sidebar:hover {
	width: 15em;
}

#menu {
	list-style: none;
	width: 100%;
}

#menu li {
	margin-bottom: 0.5em;
	color: white;
	font-size: 150%;
	text-align: left;
	padding: 0.4em 0.5em;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.5s ease;
}

#menu li:hover {
	background-color: lightblue;
}

#menu li a {
	text-decoration: none;
	color: white;
	display: inline-flex;
	align-items: center;
}

#menu li a span {
	margin-left: 0.5em;
	white-space: nowrap;
}
</style>