<template>
  <div id="app">
    <Sidebar/>
    <div id='content'>
      <b-container>
        <router-view></router-view>
      </b-container>
    </div>
  </div>
</template>

<script>
import Sidebar from './components/Sidebar.vue';

export default {
  name: 'App',
  components: { Sidebar },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
}

#content {
  margin-left: 3em;
  width: 100%;
}
</style>
